label {
  display: block;
}

.custom-input {
  padding-bottom: 2%;
}

.custom-input-error label {
  color: red;
}

.custom-input-error input {
  border: 2px solid red;
  border-radius: 4px;
}

.error {
  color: red;
  margin: 0;
}

.background1 {
  background-color: pink;
  margin-top: 30px;
  margin-bottom: 30px;
}

.background2 {
  background-color: pink;
  margin-top: 30px;
  margin-bottom: 30px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.marginTop {
  margin-top: 130px;
}

select {
  width: 200px;
}

select[multiple] {
  width: 300px;
}
